.hangman-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .hangman-svg {
    width: 200px; 
    height: auto;
  }
  
  .hangman-image {
    max-width: 200px; 
    height: auto;
  }